<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace不能使用别名机制。必须写全限定接口名称。带有包名的。-->
<mapper namespace="com.shaluy.ssm.mapper.EmployeeMapper">

    <select id="selectAllEmployee" resultType="Employee">
        select * from t_emp
    </select>

    <insert id="insertEmployee">
        insert into t_emp values(null, #{empName}, #{age}, #{gender}, #{email})
    </insert>

    <delete id="deleteAllEmployee">
        delete from t_emp;
    </delete>
</mapper>
